<ion-item *ngFor="let child of childs" class="padding" > 
  <ion-avatar size="large" slot="start">
    <img src="assets/avatar.svg">
  </ion-avatar>
  <ion-label (click)="getLinkWhastapp()">
      <ion-row class="ion-justify-content-between">
          <ion-col size="3" class="ion-align-self-center">
            <div>
                <h2>{{child.name}}</h2>
            </div>
          </ion-col>
          <ion-col size="1" class="ion-align-self-center">
            <div>
              <ion-buttons expand="block" color="light" shape="round" slot="end">
                <ion-icon name="ios-checkmark-circle-outline" size="large" item-left ></ion-icon>
              </ion-buttons>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-buttons expand="block" color="light" shape="round" slot="end">
                <ion-icon name="close" size="large" item-left ></ion-icon>
              </ion-buttons>
        </ion-row>
  </ion-label>
</ion-item>