<ion-item *ngFor="let child of childs" class="padding" [routerLink]="['/menu']" [queryParams]="{id: child.id}"> <!---->
  <ion-avatar size="large" slot="start">
    <img src="assets/avatar.svg">
  </ion-avatar>
  <ion-label>
      <ion-row class="ion-justify-content-between">
          <ion-col size="3" class="ion-align-self-center">
            <div>
                <h2>{{child.name}}</h2>
            </div>
          </ion-col>
          <ion-col size="3" class="ion-align-self-center">
            <div>
              <ion-toggle></ion-toggle>
            </div>
          </ion-col>
        </ion-row>
  </ion-label>
</ion-item>


