<ion-item *ngFor="let child of childs" class="padding" [routerLink]="['/menu']" [queryParams]="{id: child.id}"> <!---->
  <ion-avatar size="large" slot="start">
    <img src="assets/avatar.svg">
  </ion-avatar>
  <ion-label>
    <div>
      <h2>{{child.name}}
          <button type="button" class="btn btn-primary" data-toggle="button"> Single toggle</button>
          <script>
            $(function() {
             $('#toggle-one').bootstrapToggle();
            })
          </script>
      </h2>
    </div>
  </ion-label>
</ion-item>


        