<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <div class="wrapper" >
          <ion-row class="ion-align-items-end h-100 overflow-visible">
            <ion-col size="11" class="mx-auto">
              <ion-toolbar id="app-title">
                <h1>
                  <ion-icon slot="start" size="large" color="tertiary" name="pin"></ion-icon>
                  PinChild
                </h1>
              </ion-toolbar>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="mt-150 body" color="primary">
      <ion-col size="8" class="ion-no-padding" class="mx-auto">
        <ion-button [routerLink]="'/home'" class="log-in-button" color="primary" expand="block">
          LOG IN WITH FACEBOOK
        </ion-button>
        <ion-button [routerLink]="'/home'" expand="block" color="danger">
          LOG IN WITH Google 
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="mt-50 body">
      <ion-col size="10" class="ion-no-padding" class="mx-auto">
        <ion-button class="log-in-button" color="tertiary" expand="block">Novo Usuario?Cadastre-se</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
