<ion-header no-border>
    <ion-toolbar class="head">
      <ion-buttons slot="start">
        <ion-icon (click)="goback()" name="arrow-back" color="light" size="large"></ion-icon>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-icon [routerLink]="'/home'" name="home" color="light" size="large"></ion-icon>
      </ion-buttons>
        <ion-title>Adiciona Pulseiras</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <ion-grid>
    
        <form [formGroup]="addChildForm" (ngSubmit)="onSubmit()">

          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating">Nome completo</ion-label>
                <ion-input id="name" type="text" placeholder="Nome Completo"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label position="floating"> </ion-label>
                  <ion-input id="nickname" type="text" placeholder="Apelido"></ion-input>
                </ion-item>
              </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating">Data de Aniversario</ion-label>
                   <ion-datetime displayFormat="DD/MM/YYYY"></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label position="floating">Código da Pulseira</ion-label>
                  <ion-input id="code" type="text" placeholder="Código da Pulseira"></ion-input>
                </ion-item>
              </ion-col>
          </ion-row>

          <ion-row class="mt-150" color="primary">
              <ion-col size="10" class="ion-padding-top" class="mx-auto">
                <ion-button (click)="presentAlert()" [routerLink]="'/my-child'" class="log-in-button" color="tertiary" expand="block" style="height: 60px">
                  <h4>CADASTRAR</h4>
                </ion-button>
              </ion-col>
          </ion-row>

          
        </form>
      </ion-grid>
    </ion-content>